{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Membership</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="membership-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for membership in memberships %}
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="card h-100 border-0">
                                <div class="card-body pb-0">
                                    <p class="lead mb-0 font-weight-bold">{{ membership.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ membership.price }} per year</p>
                                            <p class="mb-0 text-left">{{ membership.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row mx-auto text-center">
                <p class="text-center">For any membership enquires, please email: luxeretreat@outlook.com and they will be in touch with a join-up info pack.</p>
            </div>
        </div>
        <div class="container">
            <div class="row mx-auto breathe rounded" style="height:300px;">
                
            </div>
            <!-- <div class="row mx-auto breathe h-200">
                <img src="{{ MEDIA_URL }}breathe.jpg" class="rounded mx-auto d-block" alt="Breathe Sign"> 
            </div> 
        </div>
        <div class="container breathe" style="height:200px;">
            <div class="row mx-auto breathe h-200">
                <img src="{{ MEDIA_URL }}breathe.jpg" class="rounded mx-auto d-block" alt="Breathe Sign"> 
            </div> -->
        </div>
        <br>
        <div class="container">
            <div class="card mx-auto" style="max-width: 100%;">
                <div class="row">
                    <div class="col-sm-6 changingrooms" style="height:500px;">
                        <!-- <img src="{{ MEDIA_URL }}changingrooms.jpg" class="img-fluid" alt="changingrooms"> -->
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body card-center2 text-center">
                            <h5 class="card-title text-black font-weight-bold">Addition Benefits</h5>
                            <p class="card-text">All membership categories are entitled to the following unique and exclusive benefits throughout the Luxe Retreat:</p>
                            <p class="card-text">Complimentary use of towels and robe.</p>
                            <p class="card-text">25% discount on all Spa treatments (Monday - Thursday)</p>    
                            <p class="card-text">10% discount on food from Retreat Café</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

{% endblock %}