{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block footer_header %}
<div class="container footer-container fixed-bottom">
    <div class="row mt-auto justify-content-around">
        <div class="col-4 align-self-center">
            <h4>
                <a href="{% url 'memberships' %}" class="shop-now-button btn btn-sm rounded-0 text-uppercase py-3">Membership</a>
            </h4>
        </div>
        <div class="col-4 align-self-center">
            <h4>
                <a href="{% url 'treatments' %}" class="shop-now-button btn btn-sm rounded-0 text-uppercase py-3">Spa Treatments</a>
            </h4>
        </div>
    </div>
</div>
{% endblock %}