{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
          <div class="col text-center mt-3">
              <h2 class="logo-font">Facilities</h2>
              <hr class="w-50 mb-1">
          </div>
      </div>
      <br>
      <br>
      <div class="gallery-block compact-gallery">
        <div class="row no-gutters">
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="./../media/pool.jpg" target="_blank">
                    <img class="img-fluid image" src="./../media/pool.jpg">
                    <span class="description">
                        <span class="description-heading">Main Pool</span>
                        <span class="description-body">The main pool is good for some relaxing lenghts, where we also run aqua aerobics classes twice a week</span>
                    </span>
                </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox" href="../../media/spapool.jpg" target="_blank">
                    <img class="img-fluid image" src="../../media/spapool.jpg">
                    <span class="description">
                        <span class="description-heading">Spa Pool</span>
                        <span class="description-body">Bathed in natural light and overlooking our beautiful manor gardens, the spa pool is adults only.</span>
                    </span>
                </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <div class="lightbox sauna img-fluid image" target="_blank">
                  <!--<img class="img-fluid image" src="">-->
                  <span class="description">
                      <span class="description-heading">Sauna</span>
                      <span class="description-body">Cleanse the pores and feel yourself relax, reducing any stress whilst you improve circulation.</span>
                  </span>
                </div>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
                <a class="lightbox">
                    <img class="img-fluid image jacuzzi" src="">
                    <span class="description">
                        <span class="description-heading">Jacuzzi</span>
                        <span class="description-body">Cleanse the pores and feel yourself relax, reducing any stress whilst you improve circulation.</span>
                    </span>
                </a>
            </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="/media/gym.jpg" target="_blank">
                  <img class="img-fluid image" src="/media/gym.jpg">
                  <span class="description">
                      <span class="description-heading">Gym</span>
                      <span class="description-body">Fully equipped air-conditioned large gym with state of the art machines, free weights and spacious workout areas.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}studio.jpg" target="_blank">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}studio.jpg">
                  <span class="description">
                      <span class="description-heading">Studio</span>
                      <span class="description-body">Large studio with regular classes from Yoga and Pilates to Circuits. Available for private hire.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
            <a class="lightbox" href="{{ MEDIA_URL }}cafe1.jpg" target="_blank">
                <img class="img-fluid image" src="{{ MEDIA_URL }}cafe1.jpg">
                <span class="description">
                    <span class="description-heading">Retreat Café</span>
                    <span class="description-body">Ideal to catch up with friends for coffee or for a quick meal. The café offers hot and cold food.</span>
                </span>
            </a>
        </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}spa1.jpg" target="_blank">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}spa1.jpg">
                  <span class="description">
                      <span class="description-heading">The Spa</span>
                      <span class="description-body">A moment to pause….  Enjoy a range of  beauty treatments or pamper yourself and unwind with a Spa Day.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
              <a class="lightbox" href="{{ MEDIA_URL }}lounge1.jpg" target="_blank">
                  <img class="img-fluid image" src="{{ MEDIA_URL }}lounge1.jpg">
                  <span class="description">
                      <span class="description-heading">Lounge</span>
                      <span class="description-body">A place to take sometime for yourself, with free WIFI.</span>
                  </span>
              </a>
          </div>
          <div class="col-md-6 col-lg-4 item zoom-on-hover">
            <a class="lightbox" href="{{ MEDIA_URL }}lounge.jpg" target="_blank">
                <img class="img-fluid image" src="{{ MEDIA_URL }}lounge.jpg">
                <span class="description">
                    <span class="description-heading">The Lounge</span>
                    <span class="description-body">A place to take sometime for yourself, with open fire.</span>
                </span>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover">
            <a class="lightbox" href="{{ MEDIA_URL }}food.jpg" target="_blank">
                <img class="img-fluid image" src="{{ MEDIA_URL }}food.jpg">
                <span class="description">
                    <span class="description-heading">Retreat Café</span>
                    <span class="description-body">Ideal to catch up with friends for coffee or for a quick meal. The café offers hot and cold food.</span>
                </span>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 item zoom-on-hover">
            <a class="lightbox" href="{{ MEDIA_URL }}garden1.jpg" target="_blank">
                <img class="img-fluid image" src="{{ MEDIA_URL }}garden1.jpg">
                <span class="description">
                    <span class="description-heading">Garden</span>
                    <span class="description-body">When fresh air is needed to clear your mind, take a trip around our beautiful grounds.</span>
                </span>
            </a>
        </div>
          <br>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}