{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/pool.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-md-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-6 align-centre">
                    <img src="/media/spapool.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/sauna.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-3">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/jacuzzi.jpg" class="img-fluid" alt="Main Pool">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-md-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-6 align-centre">
                    <img src="/media/gym.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/studio.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-md-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-6 align-centre">
                    <img src="/media/spa.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/cafe.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-3">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/food.jpg" class="img-fluid" alt="Main Pool">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-3">
                    <img src="/media/lounge.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/lounge1.jpg" class="img-fluid" alt="Main Pool">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 60%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-3">
                    <img src="/media/garden.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/garden1.jpg" class="img-fluid" alt="Main Pool">
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}