{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/media/pool.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Main Pool</h5>
                        <p class="card-text">The main pool is good for some relaxing lenghts, where we also run aqua aerobics twice a week.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3 d-flex justify-content-center align-items-center">
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Spa Pool</h5>
                        <p class="card-text">Bathed in natural light and overlooking our beautiful manor gardens, the spa pool is adults only. </p>
                    </div>
                </div>
                <div class="col-sm-6 align-centre">
                    <img src="/media/spapool.jpg" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/sauna.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-3">
                    <div class="card-body card-center1 text-center">
                        <h5 class="card-title">Sauna & Jacuzzi</h5>
                        <p class="card-text">Cleanse the pores and feel yourself relax, reducing any stress whilst you improve circulation.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/jacuzzi.jpg" class="img-fluid" alt="Main Pool">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Gym</h5>
                        <p class="card-text">Fully equipped air-conditioned large gym with state of the art machines, free weights and  spacious workout areas.</p>
                    </div>
                </div>
                <div class="col-sm-6 align-centre">
                    <img src="/media/gym.jpg" class="img-fluid" alt="Gym">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/studio.jpg" class="img-fluid" alt="Studio">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">The Studio</h5>
                        <p class="card-text">Large studio with regular classes. Available for private hire.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <div class="card-body card-center1 text-center">
                        <h5 class="card-title">The Spa</h5>
                        <p class="card-text">A moment to pause….  Enjoy a range of  beauty treatments or pamper yourself and unwind with a Spa Day.</p>
                    </div>
                </div>
                <div class="col-sm-6 align-centre">
                    <img src="/media/spa.jpg" class="img-fluid" alt="Spa">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-6">
                    <img src="/media/cafe1.jpg" class="img-fluid" alt="Main Pool">
                </div>
                <div class="col-sm-3">
                    <div class="card-body card-center1 text-center">
                        <h5 class="card-title">Retreat Café</h5>
                        <p class="card-text">Ideal to catch up with friends for coffee or for a quick meal. The café offers hot and cold food.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/food.jpg" class="img-fluid" alt="Main Pool">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-3">
                    <img src="/media/lounge.jpg" class="img-fluid" alt="Lounge">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Lounge</h5>
                        <p class="card-text">A place to take sometime for yourself, with free WIFI.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/lounge1.jpg" class="img-fluid" alt="Lounge">
                </div>
            </div>
        </div>
        <br>
        <div class="card mx-auto" style="max-width: 70%;">
            <div class="row no-gutters px-3">
                <div class="col-sm-3">
                    <img src="/media/garden.jpg" class="img-fluid" alt="Garden">
                </div>
                <div class="col-sm-6">
                    <div class="card-body card-center text-center">
                        <h5 class="card-title">Garden</h5>
                        <p class="card-text">When fresh air is needed to clear your mind, take a trip around our beautiful grounds.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="/media/garden1.jpg" class="img-fluid" alt="Garden">
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
{% endblock %}