html {
    height: 100%;
}

body {
	background: url('/media/homepage.jpg') no-repeat center center fixed;
	background-size: cover;
    height: calc(73vh - 164px);
    color: #555;
    font-family: "Cormorant+Garamond";
}

.footer-container {
    padding: 50px;
    padding-bottom: 100px;
    align-content: center;
}

a {
    color: goldenrod;
}

a:hover {
    color: goldenrod;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    color: goldenrod;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgba(255, 255, 255, 0.826);
    color: goldenrod;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: goldenrod;
    color: white;
}

.text-black {
    color: grey !important;
}

.border-black {
    border: 1px solid black !important;
}

.dropdown-item {
    color: goldenrod;
}

.dropdown-item:hover {
    color: grey;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: floralwhite;
    z-index: -1;
}


.card-center {
    padding-top: 100px;
    padding-bottom: 100px;
    color: grey;
}

.card-center1 {
    padding-top: 60px;
    padding-bottom: 60px;
    color: grey;
}

.card {
    background-color: floralwhite;
    border: floralwhite;
}

/* --------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .footer-container {
        width: 100%;
    }

}

/* fixed top navbar only on small and up */
@media only screen and (max-width: 767px) {

    .shop-now-button {
        min-width: 125px;
        padding: 3px;
    }

}

/* fixed top navbar only on extra small and up */
@media only screen and (max-width: 580px) {
    .footer-container {
        width: 100%;
        padding-bottom: 150px;
    }

}


