<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'facilities' %}" >
                Facilities
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'memberships' %}" id="all-memberships-link">
                Membership
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-treatments-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spa Treatments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'treatments' %}" class="dropdown-item">All Treatments</a>
                <a href="{% url 'treatments' %}?category=spa_packages" class="dropdown-item">Spa Packages</a>
                <a href="{% url 'treatments' %}?category=facials" class="dropdown-item">Facials</a>
                <a href="{% url 'treatments' %}?category=body_treatments" class="dropdown-item">Body Treatments</a>
                <a href="{% url 'treatments' %}?category=manicures_pedicures" class="dropdown-item">Manicure & Pedicure</a>
            </div>
        </li>
    </ul>
</div>

