<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'facilities' %}" >
                Facilities
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Membership
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="spa-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Spa Treatments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spa-link">
                <a href="" class="dropdown-item">Spa Packages</a>
                <a href="" class="dropdown-item">Facials</a>
                <a href="" class="dropdown-item">Body Treatments</a>
                <a href="" class="dropdown-item">Manicures & Pedicures</a>
            </div>
        </li>
    </ul>
</div>

